<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="14.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <!-- KSPDIR - this can be set either as an environment variable or via
       -          this file. The following are the default locations for the
       -          Steam installation. It is HIGHLY RECOMMENDED to make a copy
       -          of your KSP directory and use that instead for mod
       -          development, then updating the location accordingly.
      -->
    <!-- Windows -->
    <KSPDIR>C:\Program Files (x86)\Steam\SteamApps\common\Kerbal Space Program\</KSPDIR>
    <!-- Linux -->
    <!-- <KSPDIR>~/.steam/steam/steamapps/common/Kerbal Space Program/</KSPDIR> -->
    <!-- Mac -->
    <!-- <KSPDIR>~/Library/Application Support/Steam/steamapps/common/Kerbal Space Program/</KSPDIR> -->
  </PropertyGroup>
</Project>